@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	input[type="range"] {
	  width: 85%;
	  height: 39px;
	  -webkit-appearance: none;
	  background: #e4e4e7;
	  outline: none;
	  border-radius: 40px;
	  overflow: hidden;
	  box-shadow: inset 0 0 2px #e4e4e7;
	}
	input[type="range"]::-webkit-slider-thumb {
	  -webkit-appearance: none;
	  width: 38px;
	  height: 39px;
	  border-radius: 100%;
	  background: #fff;
	  cursor: pointer;
	  box-shadow: -420px 0 0 400px #8b5cf6;
	}
  }
  

/* https://shiksha-com.medium.com/input-range-slider-e771132468b1 */
